
ul li:nth-child(1) {
    background-color: yellow; ;
    font-weight: bold;
}

ul li:nth-child(3) {
    background-color: green;
    font-weight: bold;
}


button:hover{
    background-color: green;
}