<!--

    /*
        * FILE XML LOGIC 'log4j2''
        ? Configuration status setted as -> WARN 
        ? Appenders, appendig all the information both on the CONSOLE and into the log File
        ! 1. PatternLayout -> Where we add information of DATE and HOUR of log of the "user"
        ! 2. File -> Add the information of the logger in the File
        
    */

-->

<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>

        <File name="FileLogger" fileName="logs/biblioteca.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level %c - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>

</Configuration> 