
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }


    .pagina {
      background-color: white;
      max-width: 1100px;
      margin: 0 auto;
      padding: 0 20px 40px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);  
    }
       

    body {
        background-color: #ccffd9;
    }

    header {
        background-color: #f2f2f2;
        text-align: center;
    }

    header img {
        width: 100%;
        max-height: 140px;
        object-fit: cover;
    }

    nav {
        background-color: #ddd;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
        padding: 10px 0;
        text-align: center;
    }

    nav a {
        margin: 0 20px;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    .contenitore {
        display: flex;
        max-width: 1100px;
        margin: 20px auto;
        gap: 20px;
    }

    .barralaterale {
        width: 280px;
    }

    .barralaterale img {
        width: 100%;
        margin-bottom: 15px;
    }

    .login-box,
    .catalog-box {
        background-color: #e6e6e6;
        border: 1px solid #bbb;
        padding: 10px;
        margin-bottom: 20px;
    }

    .login-box h3,
    .catalog-box h3 {
        margin-bottom: 10px;
    }

    .login-box input {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
    }

    .login-box button {
        width: 100%;
        padding: 6px;
        margin-top: 5px;
    }

    .catalog-box button {
        width: 100%;
        padding: 6px;
        margin-top: 10px;
    }

    .catalog-box .item {
        background-color: #999;
        color: white;
        margin: 5px 0;
        padding: 5px;
        text-align: center;
    }

    .main-content {
        flex: 1;
    }

    .sezione-servizi {
        background-color: white;
        padding: 15px;
        border: 1px solid #ccc;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .sezione-libri{
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 15px;
        display: flex;
        gap: 15px;
    }

    .sezione-libri img {
        width: 80px;
        height: auto;
    }

    .info-libro {
        flex: 1;
    }

    .titolo-libro {
        font-weight: bold;
        color: #000;
    }

    .disponibilità {
        color: green;
        font-weight: bold;
    }

    .più-info {
        color: #003366;
        font-style: italic;
        margin-top: 5px;
    }
